*{
    margin: 0;
    padding: 0;
}

.mainlog{
    width: 100%;
    min-height:100vh;
    background-size: cover;
    position: relative;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content:center;
    background-image: url(img3.avif);
    background-size:cover ;
}

.Twologins{
    display: flex;
    align-items: center;
    justify-content:center;
    
}

.login input{
    height: 10px;
    width:250px;
    padding: 15px;
    border-radius: 30px;
    margin: 10px 0px;
    border: 2px solid black;

}

.button1 button{
    font-size: larger;
    margin:10px 0px;
    position: relative;
    padding: 7px;
    width: 101%; 
    border-radius: 30px;   
}

.button2 button{
    font-size: larger;
    margin:10px 0px;
    position: relative;
    padding: 7px;
    width: 101%;
    border-radius: 30px;

}

.login h2{
    text-align: center;
    font-size: 40px;
    color:rgb(70, 123, 228);
}


.login{
    
    padding:10px;
    margin:15px;
    height:350px;
}

.login p{
    text-align: center;
    font-size: 20px;
    padding: 10px;
}

.login p{
  color:rgb(70, 123, 228);
  font-size:larger;

}

.login a{
    color:rgb(70, 123, 228);
    
}

.userlogin{
    background-color:rgb(39, 15, 110);
}
.AdminLogin{
    background-color:rgb(39, 15, 110);
}

